.text-white.text-decoration-none:hover {
    color: #61dafb; /* React theme color */
    text-decoration: underline;
  }
  /* Make the right grid sticky */
.sticky-right {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1; /* Keeps the sticky part above the scrolling content */
  height: 100vh; /* Full viewport height */
}

/* Make the left grid scrollable */
.scrollable-left {
  max-height: 90vh; /* Limit height to 90% of the viewport */
  overflow-y: auto; /* Allow scrolling if content exceeds the height */
}

/* Make categories more visually appealing */
.category-container {
  background: linear-gradient(145deg, #6c757d, #343a40);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-container h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f8f9fa;
}

.category-container ul {
  padding-left: 0;
}

.category-container li {
  margin-bottom: 15px;
}

.category-container a {
  color: #f8f9fa;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category-container a:hover {
  color: #f1c40f; /* Golden color on hover */
  text-decoration: underline;
}

.category-container a:active {
  color: #e67e22;
}

/* Adding subtle hover animation */
.category-container a:hover {
  transform: scale(1.05);
}

